/*Variable för färger*/
:root {
    --Primary: #34495E;
    --Secondary: #BDC3C7;
    --Background: #FFFFFF;
    --TexColor: #2C3E50;
    --Accentfärg: #F1C40F;
}

/*#region generell css *, html, body*/
* {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--Background);
}
/*#endregion*/

/*#region style för navbar*/
nav {
    background-color: var(--Primary);
}

nav a {
    color: var(--Secondary);
    border-bottom: 3px solid transparent;
    text-decoration: none;
    font-size: 1.25rem;
}

nav a:hover {
    border-bottom: 3px solid var(--Accentfärg);
}
/*#endregion*/

/*Font i komponenten Home*/
.fontHome {
    font-size: 1rem;
    color: var(--TexColor);

}

/*Färgen på vänster sida*/
.bgProfilePicture {
    background-color: var(--TexColor);
}

/*Style text*/
.textColor {
    color: var(--Secondary);
    border-bottom: 3px solid var(--Accentfärg);
    /*Behöver en ny rad för varje element som ska in i vänsterkolumenen*/
    font-size: 2rem;
}


/*#region scrollbar*/
/*Ytan för scrollbar*/
::-webkit-scrollbar {
    width: 12px;
    background-color: var(--Primary);

}

/*Spåret som den går i*/
::-webkit-scrollbar-track {
    background-color: var(--Background);
    margin-top: 65px;
}

@media (max-width: 767px){
    /*Spåret som den går i*/
    ::-webkit-scrollbar-track {
    margin-top: 56px;
}
}

/*Själva scrollbaren*/
::-webkit-scrollbar-thumb {
    background-color: var(--Primary);
    border-radius: 10px;
    border: 3px solid var(--Background);
}

/*Vidrörande av scrollbaren*/
::-webkit-scrollbar-thumb:hover {
    background-color: var(--TexColor);
}
/*#endregion*/

/*#region rotation för pro filbilden*/
.profilePicture {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.rotate {
    transform: rotateY(90deg);
}
/*#endregion*/

/*#region rubrikerna till vänster*/
/*Border för rubrikerena till vänster*/
.divBorder {
    border-bottom: 3px solid var(--Accentfärg);

}

/*Färg för texten hos rubrikerna till vänster*/
.socialMediaText {
    color: var(--Secondary);
}
/*#endregion*/

/*#region ändrar färg på icons från bootstrap*/
.linkedInColor path {
    fill: var(--Secondary);
}

.arrow path {
    fill: var(--Secondary);
}
/*#endregion*/

/*#region tesxt som ska från höger till vänster*/ 
/*Texten innan den vissas upp*/

.textMoveRight {
    opacity: 0;
    transform: translateX(100px);
    transition: transform 1s ease-in-out, opacity 0.5s ease-in;
}

.textApear {
    opacity: 1;
    transform: translateX(0);
}

/*#endregion*/

/*#region bilderna som visar programmeringsspråk*/

.imageToRight {
    opacity: 0;
    transform: translateX(100px);
    transition: transform 1s ease-in-out, opacity 0.5s eas-in;
}

.programingImagePosition {
    opacity: 1;
    transform: translateX(0px);
    transition: transform 1s ease-in-out, opacity 0.5s ease-in;
}


/*#endregion*/

/*#region nuvarande projek*/

.currentProject{
    margin: 0.5rem;
}

@media (min-width: 425px) {

    .currentProject {
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
        opacity: 0;
    }

    .currentProject:hover {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

/*#en*/



/*#endregion*/

.imgProjects{
    width: 10rem;
    height: 5rem;
}


/*Test CSS*/
/* #Hobie{
    height: 600px;
} */