/*Variable för färger*/
:root {
  --Primary: #34495e;
  --Secondary: #bdc3c7;
  --Background: #ffffff;
  --TexColor: #2c3e50;
  --Accentfärg: #f1c40f;
}

/*Font i komponenten Home*/
.fontHome {
  font-size: 1.5rem;
  color: var(--TexColor);
}

/*Färgen på vänster sida*/
.bgProfilePicture {
  background-color: var(--TexColor);
}

/*Style text*/
.textColor {
  color: var(--Secondary);
  border-bottom: 3px solid var(--Accentfärg);
  /*Behöver en ny rad för varje element som ska in i vänsterkolumenen*/
  font-size: 2rem;
}

/*#region generell css *, html, body*/
* {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--Background);
}

/*#endregion*/

/*#region style för navbar*/
@media (min-width: 768px) {
  nav {
    background-color: var(--Primary);
  }

  .custom-toggler {
    display: none;
  }
}

nav a {
  color: var(--Secondary);
  border-bottom: 3px solid transparent;
  text-decoration: none;
  font-size: 1.25rem;
}

nav a:hover {
  border-bottom: 3px solid var(--Accentfärg);
}

@media (max-width: 767px) {
  nav {
    margin-top: 50vh;
  }

  .custom-toggler {
    width: 3rem;
    height: 2rem;
    background-color: var(--Primary);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: block;
  }

  /* .border-right-radius {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  } */

  .navbar-nav {
    background-color: var(--Primary);
  }
}

/*#endregion*/

/*#region Grund postitionen på sträcken i hamburgarmenyn*/
.navbar-toggler-top,
.navbar-toggler-middle,
.navbar-toggler-bottom {
  position: absolute;
  height: 0.35rem;
  width: 2.5rem;
  background-color: var(--Accentfärg);
  display: block;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

.navbar-toggler-top {
  top: 0.7rem;
}

.navbar-toggler-middle {
  top: 1.35rem;
}

.navbar-toggler-bottom {
  top: 2rem;
}

/*Effekten när användaren klicak på den*/
.custom-toggler[aria-expanded="true"] .navbar-toggler-top {
  top: 1.3rem;
  transform: rotate(45deg);
  width: 2rem;
}

.custom-toggler[aria-expanded="true"] .navbar-toggler-middle {
  display: none;
}

.custom-toggler[aria-expanded="true"] .navbar-toggler-bottom {
  top: 1.3rem;
  transform: rotate(-45deg);
  width: 2rem;
}

/*#endregion*/

/*#region scrollbar*/
/*Ytan för scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--Primary);
}

/*Spåret som den går i*/
::-webkit-scrollbar-track {
  background-color: var(--Background);
  margin-top: 62px;
}

@media (max-width: 767px) {

  /*Spåret som den går i*/
  ::-webkit-scrollbar-track {
    margin-top: 56px;
  }
}

/*Själva scrollbaren*/
::-webkit-scrollbar-thumb {
  background-color: var(--Primary);
  border-radius: 10px;
  border: 3px solid var(--Background);
}

/*Vidrörande av scrollbaren*/
::-webkit-scrollbar-thumb:hover {
  background-color: var(--TexColor);
}

/*#endregion*/

/*#region rotation för profilbilden*/
.profilePicture {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.rotate {
  transform: rotateY(90deg);
}

@media (max-width: 1172px) {

  .profile-margin {
    margin-top: 40px;
  }

}


/*#endregion*/

/*#region rubrikerna till vänster*/
/*Border för rubrikerena till vänster*/
.divBorder {
  border-bottom: 3px solid var(--Accentfärg);
}

/*Färg för texten hos rubrikerna till vänster*/
.socialMediaText {
  color: var(--Secondary);
}

/*#endregion*/

/*#region ändrar färg på icons från bootstrap*/
.linkedInColor path {
  fill: var(--Secondary);
}

.arrow path {
  fill: var(--Secondary);
}

/*#endregion*/

/*#region hobies*/

.imageHobieToRight {
  opacity: 0;
  transform: translateX(200px);
  transition: transform 1s ease-in-out, opacity 0.75s ease-in;
}

/*#endregion*/

/*#region tesxt som ska från höger till vänster*/
/*Texten innan den vissas upp*/

.textMoveRight {
  opacity: 0;
  transform: translateX(100px);
  transition: transform 1s ease-in-out, opacity 0.5s ease-in;
}

.textApear {
  opacity: 1;
  transform: translateX(0);
}

/*#endregion*/

/*#region bilderna som visar programmeringsspråk*/

.imageToRight {
  opacity: 0;
  transform: translateX(50px);
  transition: transform 1s ease-in-out, opacity 0.5s eas-in;
}

.programingImagePosition {
  opacity: 1;
  transform: translateX(0px);
  transition: transform 1s ease-in-out, opacity 0.5s ease-in;
}

/*#endregion*/

/*#region nuvarande projek*/

.currentProject {
  margin: 0.5rem;
}

@media (min-width: 426px) {
  .currentProject {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    opacity: 0;
  }

  .currentProject:hover {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@media (max-width: 425px) {
  .currentProject {
    opacity: 0;
    transition: opacity 0.75s ease-in;
  }

}

/*#endregion*/

/*#region footer*/
footer {
  background-color: var(--Primary);
}

.footerText {
  color: var(--Secondary);
  font-size: 1.5rem;
}

.footerImageSize {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 426px) {
  .footerImageSize {
    width: 3rem;
    height: 3rem;
  }
}

/*#endregion*/

/*#region image projects*/
.imgProjects {
  width: 10rem;
  height: 5rem;
}

.opacityBefore {
  opacity: 0;
  transition: opacity 0.75s ease-in;
}

.opacityAfter {
  opacity: 1;
}

/*#endregion*/

/*#region Tex CurrentProject på små skärmar*/
@media (max-width: 767px) {
  .backgorund-sm {
    background-color: var(--TexColor);
  }

  .textColor-sm {
    color: var(--Secondary);
    border-bottom: 3px solid var(--Accentfärg);
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .textColor-md {
    font-size: 2rem;
  }
}

/*#endregion*/